# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# virtualenv
.venv
venv/

# mypy
.mypy_cache/

# JetBrains
.idea

# MacOS
.DS_Store

# VS Code settings
.vscode

# Others
.mgit
